---
import ButtonStyle from '@/components/ButtonStyle.astro';
import Play from '@/icones/Play.astro';
---
<section 
    class="pt-10 md:pt-40 pb-2 md:pb-10"
    data-aos="fade"
    data-aos-duration="1000"
>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="flex flex-col items-center justify-center">
            <div class="relative w-80 h-80">
                <img src="images/animaciones/animate-mooh-1.svg" class="absolute anima-1 w-full h-full" />
                <img src="images/animaciones/animate-mooh-2.svg" class="absolute anima-2 w-full h-full" />
                <img src="images/animaciones/animate-mooh-1.svg" class="absolute anima-1-2-repeat w-full h-full" />
                <img src="images/animaciones/animate-mooh-2.svg" class="absolute anima-2-2-repeat w-full h-full" />
                <img src="images/animaciones/animate-mooh-3.svg" class="absolute anima-3 w-full h-full" />
                <img src="images/animaciones/animate-mooh-4.svg" class="absolute anima-4 w-full h-full" />
            </div>
        </div>
        <div class="flex flex-col items-center justify-center">

            <div class="relative">
                <img src="images/animaciones/conocenos.svg" class="absolute -top-6 -left-6 sm:-top-12 sm:-left-12 animate-spin-slowest max-w-none w-56 sm:w-[26rem]" />
                <img src="images/about/mooh-reel.webp" class="w-44 sm:w-80 effect-photo" alt="video sobre mooh" />
                <button id="modalOpen" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" type="button">
                    <Play extraClass='w-10 h-10 sm:w-16 sm:h-16 text-primary hover:text-white'/>
                </button>
            </div>
                
        </div>
        <div class="flex flex-col items-center justify-center">
            <div class="relative w-80 h-80">
                <img src="images/animaciones/animate-mooh-1.svg" class="absolute anima-1 w-full h-full" />
                <img src="images/animaciones/animate-mooh-2.svg" class="absolute anima-2 w-full h-full" />
                <img src="images/animaciones/animate-mooh-1.svg" class="absolute anima-1-2-repeat w-full h-full" />
                <img src="images/animaciones/animate-mooh-2.svg" class="absolute anima-2-2-repeat w-full h-full" />
                <img src="images/animaciones/animate-mooh-3.svg" class="absolute anima-3 w-full h-full" />
                <img src="images/animaciones/animate-mooh-4.svg" class="absolute anima-4 w-full h-full" />
            </div>
        </div>
    </div>
</section>

<section class="py-40">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 max-w-screen-2xl mx-auto">
        <div 
            class="max-h-[630px] px-4 zoom"
            data-aos="flip-left"
            data-aos-duration="500"
            data-aos-delay="500"
        >
            <img loading="lazy" class="border-8 border-white object-cover w-full h-full saturate-100 hover:saturate-0 hover:cursor-pointer" src="images/espacios/building-grap-skechers.avif" alt="building wrap vía pública skechers" />
        </div>
        <div 
            class="max-h-[630px] px-4 relative overflow-hidden"
            data-aos="flip-left"
            data-aos-duration="500"
            data-aos-delay="700"
        >
            <img loading="lazy" class="border-8 border-white object-cover w-full h-full saturate-100 hover:saturate-0 hover:cursor-pointer" src="images/espacios/building-grap-h&m.avif" alt="cartel vía pública hym" />
        </div>
    </div>
</section>

<!-- Main modal -->
<div id="modalAbout" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-4xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-primary rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-arial text-white text-left font-black uppercase">
          Conocenos
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modalAbout">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Cerrar modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6 flex justify-center">
        <div id="sobre-nosotros"></div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center px-6 py-2 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <ButtonStyle id="closeModal">
            cerrar
        </ButtonStyle>
       </div>
    </div>
  </div>
</div>
<style>
    .effect-photo {
        filter: saturate(0%) brightness(78%) contrast(146%);
    }
    .anima-1, .anima-2, .anima-3, .anima-4,.anima-1-2-repeat,.anima-2-2-repeat {
        opacity: 0;
    }

.anima-1 {
    animation: fadeInOut1 1.8s infinite;
    animation-delay: 0s;
}

.anima-2 {
    animation: fadeInOut1 1.8s infinite;
    animation-delay: 0.2s;
}

.anima-1-2-repeat {
    animation: fadeInOut1 1.8s infinite;
    animation-delay: 0.4s;
}

.anima-2-2-repeat {
    animation: fadeInOut1 1.8s infinite;
    animation-delay: 0.6s;
}

.anima-3 {
    animation: fadeInOut2 1.8s infinite;
    animation-delay: 0.8s;
}

.anima-4 {
    animation: fadeInOut2 1.8s infinite;
    animation-delay: 1.3s;
}

@keyframes fadeInOut1 {
    0% {
        opacity: 0;
    }
    5.56% {
        opacity: 1;
    }
    16.67% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut2 {
    0% {
        opacity: 0;
    }
    11.11% {
        opacity: 1;
    }
    27.78% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

</style>
<script>
    import { Modal } from 'flowbite'
    import type { ModalOptions, ModalInterface } from 'flowbite';
    import type { InstanceOptions } from 'flowbite';

    //obtener el width de la pantalla
    const width = window.innerWidth;

    let widthPlayer = width - (width * 0.2);
    if(widthPlayer > 896) {
        widthPlayer = 896;
    }
    let player, playerLoaded = false;
    


    
///código del modal
    const modalDialog: HTMLElement = document.getElementById('modalAbout');
    const modalButton: HTMLElement = document.getElementById('modalOpen');
    const closeModal: HTMLElement = document.getElementById('closeModal');

// options with default values
const optionsModal: ModalOptions = {
    placement: 'center',
    backdrop: 'dynamic',
    backdropClasses:
        'bg-gray-900/70 fixed inset-0 z-40',
    closable: true,
    onHide: () => {
        if (player) {
            player.pause()
        }
    },
    onShow: async () => {
        if (!playerLoaded) {
            const { default: Player } = await import('@vimeo/player');
            //código del reproductor vimeo
            const optionsPlayer = {
                id: 880538566,
                width: widthPlayer,
                loop: false
            };

            player = new Player('sobre-nosotros', optionsPlayer);
            playerLoaded = true;
        }
        player.play()
    },
};

// instance options object
const instanceOptions: InstanceOptions = {
  id: 'modalAbout',
  override: true
};

const modal: ModalInterface = new Modal(modalDialog, optionsModal, instanceOptions);

if (modalButton) {
    modalButton.addEventListener('click', () => modal.show());
}
if (closeModal) {
    closeModal.addEventListener('click', () => modal.hide());
}

</script>