---
import ArrowDown from '@/icones/ArrowDown.astro';
---
<div class="absolute bottom-20 left-1/2 transform -translate-x-1/2">
    <img src="/images/animaciones/scroll-page.svg" class="animate-spin-slow w-20 md:w-24 lg:w-28" />
    <ArrowDown extraClass='animate-bounce absolute md:top-10 lg:top-12 top-8 left-[calc(50%-10px)] md:left-[calc(50%-15px)] lg:left-[calc(50%-20px)] w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 text-white' />
</div>